<mat-toolbar>Detalle del Equipo</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet></router-outlet>


  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="numtelf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Numero de Telefono </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.numtelf}}</mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>

<div class="example-container mat-elevation-z8">

  <router-outlet></router-outlet>


  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idequipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID Equipo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idequipo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idcancha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID Cancha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idcancha}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="numhoras">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Horas Reservadas </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.numhoras}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="horainicio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hora de inicio </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.horainicio}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="estadopagado">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Alquiler </mat-header-cell>
          <div *ngIf="estadopagado; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>Pagado.</ng-template>
              <ng-template #elseBlock>No Pagado.</ng-template>          
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
<br>

<button mat-fab color="accent" style="float: right" routerLink='/cancha/nuevo'>
  <mat-icon>create</mat-icon>
</button>