<form class="example-form" [formGroup]="form" (ngSubmit)="operar()" #frmUsuario="ngForm">
    <h2>Registrarse</h2>
    
  <mat-form-field class="example-form">
    <input matInput placeholder="Usuario" required formControlName='usuario'>
  </mat-form-field>
  <mat-form-field class="example-form">
      <input matInput placeholder="Nombre" required formControlName='nombre'>
    </mat-form-field>
  <mat-form-field class="example-form">
    <input matInput placeholder="Contraseña" type="password" required formControlName='password'>
  </mat-form-field>
  <mat-form-field class="example-form">
    <input matInput placeholder="Confirmar contraseña" type="password" type="password" required formControlName='cpassword'>
  </mat-form-field>
  <mat-form-field class="example-form">
    <input matInput placeholder="Direccion" required formControlName='direccion'>
  </mat-form-field>
  
  <mat-form-field class="example-form">
      <input matInput placeholder="DNI" required formControlName='dni'>
    </mat-form-field>
        <mat-form-field class="example-form">
          <span matPrefix>+51&nbsp;</span>
          <input type="tel" matInput placeholder="Telefono" required formControlName='telefono'>
        </mat-form-field>
      <button class="button1" mat-raised-button color="accent" type="submit">
          <span>Guardar</span>
        </button>
        <button class="button2" mat-raised-button color="accent" routerLink='/usuario' type="button">
          <span>Cancelar</span>
        </button>
</form>