<mat-card>Ingrese los datos del Alquiler</mat-card>

<br>

<form class="example-container" [formGroup]="form" (ngSubmit)="grabar()" #frmEstudiante="ngForm">

  <div [hidden]="true">
 <mat-form-field class="example-full-width">
    <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Horas" required formControlName="horas">
  </mat-form-field>
  
  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">-->
  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Guardar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/equipo/misequipos/0' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>