<form class="example-form" [formGroup]="form" #frmUsuario="ngForm">
  <mat-form-field class="c-usuario">
    <input matInput placeholder="Usuario" required formControlName='usuario'>
  </mat-form-field>
  <mat-form-field class="c-nombre">
      <input matInput placeholder="Nombre" required formControlName='nombre'>
    </mat-form-field>
  <mat-form-field class="c-contraseña">
    <input matInput placeholder="Contraseña" required formControlName='contraseña'>
  </mat-form-field>
  <mat-form-field class="c-ccontraseña">
    <input matInput placeholder="Confirmar contraseña" required formControlName='ccontraseña'>
  </mat-form-field>
  
  <mat-form-field class="c-dni">
      <input matInput placeholder="DNI" required formControlName='dni'>
    </mat-form-field>
    <form class="example-form">

        <mat-form-field class="c-telefono">
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="Telefono" required formControlName='telefono'>
        </mat-form-field>
        
      </form>
</form>